@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
   


body{
    font-family: 'Inter', sans-serif;
    background-color: #fefdf9;
    min-height: 100vh;
}

nav{
    margin-top:2rem;
    margin-right: 4rem;
}

button{
    background-color: rgb(238, 102, 43);
    height: 2rem;
    color: hsl(36, 100%, 99%);
    width: 8rem;
    font-family: 'Inter', sans-serif;
}

ul :nth-child(6){
    float: left;
    margin-left: 4.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  li a:hover {
    color: #f1ada3;
  }


.container{
    width: 90%;
    margin: auto;
    margin-bottom: 25vh;
    margin-top:2rem;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr fit-content 1fr;
    row-gap: 2rem;
    column-gap: 1.8rem;
    /* height:130vh; */
}

#mobile-menu, #mobile-logo{
    display: none;
}

p{
    line-height: 1.5;
}

img{
    display: block;
    max-width: 100%;
}


#main-img{
    content: url("./images/image-web-3-desktop.jpg");
    width: 100%;
    grid-column: span 2;
    margin-right: 10px;
}

.web-info2{
    display: flex;
    flex-direction: column;
}

.web-info2>*{
    flex:1;
    font-size: 16px;
}

.web-info1>h1{
    margin: 0;
    font-size: 3.25rem;
}


.tech-info>*{
    border: black solid 3px;
}

.tech-info{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-auto-rows: fit-content;
    justify-content: center;
}

.tech-details span {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(233, 8%, 79%);;
}



.tech-images img{
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
}

.tech-details{
    padding-inline-start: .5em;

}

.new-section{
    /* margin-left:25px ; */
    background-color: hsl(240, 100%, 5%);
    padding: 2rem;
    grid-row: span 2;
}
.new-section>p{
    color: hsl(236, 13%, 42%);
    padding-bottom: 5px;
}
.new-section>h1{
    color: hsl(35, 77%, 62%);
}
.new-section>h2{
    padding-top: 5px;
    color:hsl(36, 100%, 99%);
}



@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 430px){
    nav{
        display: none;
    }
    #mobile-logo{
        display: block;
        margin: 25px;
    }
    #mobile-menu{
        display:block;
        position:absolute;
        right:7%;
        top:6%;
    }
    #main-img{
        content: url("./images/image-web-3-mobile.jpg");
        width: 100%;
    }
    .tech-images{
        width: 70%;
        height: 80%;
    }
    .tech-info{
        width: fit-content;
        height: min-content;
    }

    .tech-info>div>h2{
        font-size: 16px;
    }

    .tech-info>div>h1{
        font-size: 18px;
    }

    .tech-info>div>p{
        font-size: 10px;
    }


    .new-section{
        max-height: 100vh;
    }
	.main-grid{
        display: flex;
        flex-direction: column;
        height:300vh;
    }
    .main-grid :nth-child(1){order: 1;}
    .main-grid :nth-child(2){order: 2;}
    .main-grid :nth-child(3){order: 1;}
    .main-grid :nth-child(4){order: 1;}
    .main-grid :nth-child(5){order: 3;}
    .main-grid :nth-child(6){order: 3;}
    .main-grid :nth-child(7){order: 3;}
}